@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.Editor {
  border: 1px solid black;
  border-radius: 2px;
}

code {
  display: block;
  color: white;
  background-color: black;
  font: inherit;
  font-family: monospace;
}

.mark-negative {
  display: inline-block;
  color: white;
  font-weight: normal;
  background-color: black;
  min-width: 1em;
  text-align: center;
  padding: 0 0.2em;
}

canvas {
  width: 100%;
}
