@import "https://fonts.googleapis.com/icon?family=Material+Icons";




/*—————————————————————————————————————————————————————————  EDITOR  —————————*/

.Editor__wrapper {
  position: relative;
  height: 297px;
  width: 210px;
}

.Editor__wrapper--active {
  color: black;
}

.Editor__wrapper--left {
  color: black;
  float: right;
}

.Editor__wrapper--right {
  color: black;
}

.Editor {
  background-color: white;
  position: relative;
  height: 100%;
  width: 100%;
  color: inherit;
  overflow: hidden;
}

.Editor:hover {
  background-color: #aaf;
}


/*————————————————————————————————————————————————————————  TOOLBAR  —————————*/
.Toolbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Editor__wrapper--left .Toolbar {
  right: 100%;
}
.Editor__wrapper--right .Toolbar {
  left: 100%;
}

.Toolbar__button {
  background-color: #000;
  color: #fff !important;
  margin-right: 1px;
}

.Toolbar__button:hover {
  background-color: #f06;
}

.Toolbar__button--image {
}

.Toolbar__button--image input {
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 100%;
  position: absolute;
}

.Toolbar__spacer {
  flex: 1 0 auto;
}
/*


.Post__section--active .Toolbar {
  transform: translateX(0);
}

.Post__section:nth-of-type(2n) .Toolbar {
  left: unset;
  right: 100%;
  transform: translateX(100%);
}

.Post__section:nth-of-type(2n).Post__section--active .Toolbar {
  transform: translateX(0);
}
*/
/*——————————————————————————————————————————————————————————  IMAGE  —————————*/

.Image {
  display: block;
  max-width: 100%;
  max-height: 20em;
  filter: grayscale(100%) brightness(90%) contrast(256%);
}

.Image__wrapper {
  display: block;
}

.Image__overlay {
  display: block;
  /* position: absolute;
  top: 0;right: 0;bottom: 0;left: 0;
  background-image:
  linear-gradient(white 1px, transparent 1px),
  linear-gradient(90deg, white 1px, transparent 1px);
  background-size: 2px 2px; */
}


/*—————————————————————————————————————————————————————————  BLOCKS  —————————*/

code {
  display: inline-block;
  color: white;
  background-color: black;
  font-family: monospace;
  width: 100%;
}


/*——————————————————————————————————————————————————————————  MARKS  —————————*/

.mark-negative {
  display: inline-block;
  color: white;
  font-weight: normal;
  background-color: black;
  min-width: 1em;
  text-align: center;
  padding: 0 0.2em;
}
