@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.Editor {
  color: inherit;
}


.Editor__wrapper {
  color: #ddd;
}

.Editor__wrapper:hover {
  background-color: #ddf;
}

.Editor__wrapper--active:hover {
  background-color: white;
}

.Editor__wrapper--active {
  background-color: white;
  border: 1px solid currentColor;
  border-radius: 2px;
  margin: 1em 0 0;
  border-color: red;
  color: black;
}

code {
  display: block;
  color: white;
  background-color: black;
  font: inherit;
  font-family: monospace;
}

.mark-negative {
  display: inline-block;
  color: white;
  font-weight: normal;
  background-color: black;
  min-width: 1em;
  text-align: center;
  padding: 0 0.2em;
}

canvas {
  width: 100%;
}

.separator {
  height: 2em;
  width: 2px;
  background: #ddd;
  transform: translateY(33%);
}
