.postTeaser--root {
  display: inline-block;
  width: 210px;
  height: auto;
  margin:0 40px 30px 0;
}

.postTeaser--inner {
  position: relative;
  width: 100%;
  height:100%;
  overflow: hidden;
}

.postTeaser--root h1{
    text-transform: uppercase;
    color: white;
    height: 30px;
    font-size: 12px;
    line-height: 17px;
    margin: 10px 0;
    padding: 0 6px;
    height: auto;
}

.postTeaser--root h1 span{
    background-color: #000000;
    box-shadow: 0.5em 0 0 #000000,-0.5em 0 0 #000000;
}

.postTeaser--root h3{
    color: #2d2d2d;
    height: 30px;
    font-size: 12px;
    line-height: 17px;
    margin: 10px 0;
    padding: 0;
}

.postTeaser--link:hover {
  filter: invert(100%);
}

.postTeaser--link {
  display: block;
  background-color: white;
  width: 100%;
  height: 297px;
}

.drafty .postTeaser--link{
  background: repeating-linear-gradient(
    45deg,
    #e1e1e1,
    #e1e1e1 10px,
    #e8e8e8 10px,
    #e8e8e8 20px
  );
}
.drafty .postTeaser--link:hover{
  background-size:28px 28px;/* This is unique for this background, need to find a pattern and develop a formula */
  background-position-x:0%;
  -webkit-animation:'slide' 3s infinite linear forwards;

}
@-webkit-keyframes 'slide' {
  0%{
    background-position-x:0%;
  }
  100% {
    background-position-x:100%;
  }
}

.drafty .postTeaser--root h3, .posty .postTeaser--root h3{
    display: none;
}
