.postTeaser--root {
  display: inline-block;
  width: 210px;
  height: auto;
  margin-right: 40px;
}

.postTeaser--inner {
  position: relative;
  width: 100%;
  height:100%;
  overflow: hidden;
}

.postTeaser--root h1{
    text-transform: uppercase;
    color: white;
    height: 30px;
    font-size: 12px;
    line-height: 17px;
    margin: 10px 0;
    padding: 0 6px;
    height: auto;
}

.postTeaser--root h1 span{
    background-color: #000000;
    box-shadow: 0.5em 0 0 #000000,-0.5em 0 0 #000000;
}

.postTeaser--root h3{
    color: #2d2d2d;
    height: 30px;
    font-size: 12px;
    line-height: 17px;
    margin: 10px 0;
    padding: 0;
}

.postTeaser--link:hover {
  filter: invert(100%);
}

.postTeaser--link {
  display: block;
  background-color: white;
  width: 100%;
  height: 297px;
}
